<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Assurance2017Controleur</servlet-name>
        <servlet-class>controleur.Assurance2017Controleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marqueVoituresServlet</servlet-name>
        <servlet-class>servlets.marqueVoituresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mesFormulesServlet</servlet-name>
        <servlet-class>servlets.mesFormulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>utilisationKilometrageServlet</servlet-name>
        <servlet-class>servlets.utilisationKilometrageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexionClientServlet</servlet-name>
        <servlet-class>servlets.connexionClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexionServlet</servlet-name>
        <servlet-class>servlets.connexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEssaiConnex</servlet-name>
        <servlet-class>controleur.CmdEssaiConnex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculprime</servlet-name>
        <servlet-class>servlets.calculprime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Assurance2017Controleur</servlet-name>
        <url-pattern>/Assurance2017Controleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marqueVoituresServlet</servlet-name>
        <url-pattern>/marqueVoituresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mesFormulesServlet</servlet-name>
        <url-pattern>/mesFormulesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>utilisationKilometrageServlet</servlet-name>
        <url-pattern>/utilisationKilometrageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionClientServlet</servlet-name>
        <url-pattern>/connexionClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionServlet</servlet-name>
        <url-pattern>/connexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdEssaiConnex</servlet-name>
        <url-pattern>/CmdEssaiConnex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculprime</servlet-name>
        <url-pattern>/calculprime</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
