/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 déc. 2016, 16:01:51
    Author     : lapin
*/


.button{
    color: #ffffff;
    background-color: #57d0b2;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: background 0.3s ease;
    /*    -webkit-transition: background 0.3s ease;*/
    transition: width 2s ease-in .5s;
    cursor: pointer;
}
/* première étape */
p#doigt a:hover, p#doigt a:focus {
    background-color:#ff8c00; /* pour les vieux navigateurs */
    color: black;
    animation-name: doigt; /* nom de l'animation */
    animation-duration: 2s; /* temps de l'animation (4s) */
    animation-iteration-count: infinite; /* nombre de boucles (infinie) */
    animation-timing-function: linear; /* accelération de l'animation (constant) */
}
/* deuxième étape */
@keyframes doigt {
    0% {background:rgba(255,140,0,0.4) url(/images/main.png) no-repeat 5px 10px;}
    50% {background:rgba(255,140,0,1) url(/images/main.png) no-repeat 50px 10px;}
    100% {background:rgba(255,140,0,0.4) url(/images/main.png) no-repeat 5px 10px;}
}

#formul {
    margin-top: 100px;
    padding: 100px;

    background-color: #57d0b2;
}
.resume-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


.centerize { 
    text-align: center;
}
#recapinfos{
    font-weight: 900;
    font-size: 14px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.buttonInfosOk{
    font-size: 20px;
    transition-duration: 0.9s;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.buttonInfosOk:hover{
    background-color: #ff8c00;
    color: white;
}
.buttonInfosOk:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#InfosOK{   
    border: 2px solid #4CAF50;
}

.formulairectrl .form-group{
    background-color: #18bc9c;
}
.form-control input {
    color: #fff;
}

.navbar-header {
    color: #fff;
}

#header{
    text-align: center;
}
.hauteur_princ{
    margin-top: 150px;
}